# =========================
# .NET / Avalonia
# =========================
bin/
obj/

# Publish folders
publish/

# Rider / Visual Studio
.vs/
.idea/

# User specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# SQLite database (optioneel als je die niet wil pushen)
*.db
*.sqlite

# Logs
*.log